<div class="container" ng-controller="ReviewController">
    <h3>Review Details</h3>
    <hr />
    <div class="row">
        <div class="col-lg-8 col-md-offset-1">
            <div class="row">
                <div class="col-md-5">Reviewer:</div>
                <div class="col-md-7">{{getReview().reviewerAccount.id}}</div>
            </div>
            <div class="row">
                <div class="col-md-5">Reviewee:</div>
                <div class="col-md-7">{{getReview().revieweeAccount.id}}</div>
            </div>
            <div class="row">
                <div class="col-md-5">Seller Comment:</div>
                <div class="col-md-7 review-seller-comment">{{getReview().sellerComment}}</div>
            </div>
            <div class="row">
                <div class="col-md-5">Bidder Comment:</div>
                <div class="col-md-7 review-bidder-comment">{{getReview().bidderComment}}</div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
