<div class="container" ng-controller="SigninController">
    <div class="row" ng-show="isAlert==true">
        <div class="alert alert-danger alert-dismissible fade in" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
            Cannot find username & password pair!
        </div>
    </div>
    <div class="row" ng-show="isAlert==false">
        <div class="alert alert-success alert-dismissible fade in" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
            login success
        </div>
    </div>
    <div class="row">
        <div class="col-md-9">
            <div class="jumbotron">
                <h2>Welcome to MyAuction<small>.com</small></h2>
                <p>This is an example to show the potential of an offcanvas layout pattern in Bootstrap. Try some responsive-range viewport sizes to see it in action.</p>
                <p><a class="btn btn-primary btn-lg" href="#accounts/create" role="button">Sign up now</a></p>
            </div>
        </div>
        <div class="col-md-3">
            <form class="form-signin" method="post" ng-submit="signin()">
                <fieldset>
                    <div class="fieldcontain">
                        <h4>Username:</h4>
                        <input type='text' class="form-control" placeholder="Username"  ng-model='username' />
                    </div>

                    <div class="fieldcontain">
                        <h4>Password:</h4>
                        <input type='password' class="form-control" placeholder="Password" ng-model='password'/>
                    </div>
                </fieldset>
                <p></p>
                <button  class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
            </form>
        </div>
    </div>
</div>
