<div class="container">
    <div class="row">
        <div class="alert alert-warning alert-dismissible fade in" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
            <strong>!</strong> Best check yo self, you're not looking too good.
        </div>
    </div>
    <div class="row">
        <div class="col-md-9">
            <div class="jumbotron">
                <h2>Welcome to MyAuction<small>.com</small></h2>
                <p>This is an example to show the potential of an offcanvas layout pattern in Bootstrap. Try some responsive-range viewport sizes to see it in action.</p>
                <p><a class="btn btn-primary btn-lg" href="#signup" role="button">Sign up now</a></p>
            </div>
        </div>
        <div class="col-md-3" ng-controller="SigninController">
            <form class="form-signin" method="post" ng-submit="send()">
                <fieldset>
                    <div class="fieldcontain">
                        <h4>Username:</h4>
                        <input type='text' class="form-control" placeholder="Username"  ng-model='username' />
                    </div>

                    <div class="fieldcontain">
                        <h4>Password:</h4>
                        <input type='password' class="form-control" placeholder="Password" ng-model='password'/>
                    </div>
                </fieldset>
                <p></p>
                <button  class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
  /*  var frm = $('.form-signin');
    frm.submit(function(ev) {
        $.ajax({
            type: frm.attr('method'),
            url: frm.attr('action'),
            data: frm.serialize(),
            success: function(data) {
                if (data.error)
                    alert('Nope, you cannot log in!\n\n' + data.error);
                else
                    console.log(data)
            }
        });
        ev.preventDefault();
    });*/
</script>
