<div class="container" ng-controller="SignupController">
    <form class="form-signin">
        <h3 class="form-signin-heading">Please sign up</h3>
        <hr />
        <div class="col-lg-4">
            <input type="email" ng-model="email"  class="form-control" placeholder="Email address" required="" autofocus="">
            <p></p>
            <input type="password" ng-model="password" class="form-control" placeholder="Password" required="">
            <p></p>
            <input type="username" ng-model="username" class="form-control" placeholder="Username" required="" autofocus="">
            <p></p>
            <input type="address" ng-model="address" class="form-control" placeholder="Address" required="" autofocus="">
            <button class="btn btn-lg btn-primary btn-block" ng-click="signup()">Sign Up</button>
        </div>
    </form>
</div>