<div class="container">
    <form class="form-signin">
        <h3 class="form-signin-heading">Please sign up</h3>
        <hr />
        <div class="col-lg-4">
            <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="">
            <p></p>
            <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="">
            <p></p>
            <input type="username" id="inputUsername" class="form-control" placeholder="Username" required="" autofocus="">
            <p></p>
            <input type="address" id="inputAddress" class="form-control" placeholder="Address" required="" autofocus="">
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="remember-me"> Remember me
                </label>
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        </div>
    </form>
</div>