<div class="container">
    <h3>Reviews</h3>
    <hr />
    <table class="table" ng-controller="ReviewsController">
        <thead>
        <tr>
            <th>Seller Comments</th>
            <th>Bidder Comments</th>
            <th>Reviewer</th>
            <th>Reviewee</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in getReviews()" style="cursor: pointer"  ng-click="href('reviews',item.id)">
            <td>{{item.sellerComment}}</td>
            <td>{{item.bidderComment}}</td>
            <td>{{item.reviewerAccount.id}}</td>
            <td>{{item.revieweeAccount.id}}</td>
        </tr>
        </tbody>
    </table>
</div>