<div class="container" ng-controller="AccountController">
    <form class="form-signin">
        <h3 class="form-signin-heading">Please sign up</h3>
        <hr />
        <div class="col-lg-4">
            <input type="email" ng-model="create_email"  class="form-control" placeholder="Email address" required="" >
            <p></p>
            <input type="password" ng-model="create_password" class="form-control" placeholder="Password" required="">
            <p></p>
            <input type="username" ng-model="create_username" class="form-control" placeholder="Username" required="">
            <p></p>
            <input type="address" ng-model="create_address" class="form-control" placeholder="Address" required="">
            <p></p>
            <button class="btn btn-lg btn-primary btn-block" ng-click="createAccount()">Sign Up</button>
        </div>
    </form>
</div>