<div class="container"  ng-controller="ListingsController">
    <h3>Listings</h3>
    <hr />
    <div class="row">
        <div class="col-sm-3 col-md-2">
            <ul class="left-nav nav-pills nav-stacked">
                <li class="active"><a class="listings-show" href="#listings">Show Listings</a></li>
                <li><a class="listing-create" href="#/listings/create">Create Listings</a></li>
            </ul>
        </div>
        <div class="col-sm-9 col-md-10">
            <div class="box">
                <div class="box-light">
                    <h4 class="listings-header">Show Listings</h4>
                    <hr />
                    <button class="btn btn-primary listings-complete-toggle" ng-click="completedSwitch()">{{button}}</button>
                    <p></p>
                    <table class="table listings-table" >
                        <thead>
                            <tr>
                                <th>Completed</th>
                                <th>Name</th>
                                <th>Start Price</th>
                                <th>Start Date</th>
                                <th>Listing Days</th>
                                <th>Seller Account</th>
                                <th>Deliver Option</th>
                                <th>Description</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in getListings()" style="cursor: pointer" ng-click="href('listings',item.id)">
                                <td class="listing-status">{{item.completed}}</a></td>
                                <td>{{item.name}}</td>
                                <td>{{item.startPrice}}</td>
                                <td>{{item.startDate}}</td>
                                <td>{{item.listingDays}}</td>
                                <td>{{(item.sellerAccount.id)}}</td>
                                <td>{{item.deliverOption.id}}</td>
                                <td>{{item.description}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
